{%extends "base.html"%}

{%block head%}<link rel="stylesheet" href="/assets/css/about.css">{%endblock head%}
{%block title%}O meni{%endblock title%}

{%block title_stran%}O meni{%endblock title_stran%}
{%block about%}active{%endblock about%}

{%block naslov%}O meni{%endblock naslov%}
{%block opis%}Zelo na kratko o meni, Za vse podrobnosti me kar vprašajte :){%endblock opis%}
{%block vsebina%}
    <div class="row">
            <div class="col-sm-12">

                <h2 class="sredinsko">Janko Pirih</h2>
            <div class="sredinsko">
                <img src="/assets/img/janko.jpg" alt="mojaSlika"/></a>
            </div>
                <br>
            <!-- TAbela osnovni podatki -->
            <div class=>
                <table class="podatkiTabela sredinsko">
                    <tr>
                        <th colspan="2">Osnovni Podatki</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td class="krepko">Izobrazba</td>
                            <td>diplomirani ekonomist (VS) - brez prakse</td>
                        </tr>
                        <tr>
                            <td class="krepko">Domači Kraj</td>
                            <td>Podlanišče</td>
                        </tr>
                        <tr>
                            <td class="krepko">Občina</td>
                            <td>Cerkno</td>
                        </tr>
                        <tr>
                            <td class="krepko">Upravna enota</td>
                            <td>Idrija</td>
                        </tr>
                        <tr>
                            <td class="krepko">Rojen</td>
                            <td>20.8.1988</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- O meni -->

           <h3>O Meni</h3>
        <p>
            Torej nekaj zelo na kratko o meni, samo zato da tisi podatki v tabeli pod sliko dobijo nekaj smisla.
            Sem Janko Pirih po izobrazbi sicer diplomiran ekonomist vendar ekonoije prav nič ne pogrešam. Sam zase rad rečem:
            <span class="italic">"Jest sn an čest  nawadn dilat pa tihu bit wajen pub :)."</span>   Iz tega sledi za vse, ki niste razumenli navedenega,
            da primem za vsako delo, ki ga je potrebno opraviti, rad imam kratka in jasna navodila. Rad ima ljudi, ki govorijo malo
            pa še to kratko in jedrnato brez nepotrebnih olepšav in dolovezenja.
        </p>
        <p>
            Drugače pa bolj na klasičen način Rodil sem se 20. avgusta 1988 v porodnišnici Kranj očetu Janezu in Mami Olgi. Imam tri
            mlajše sestre od kateri sta dve že poročeni. Skupaj živimo na srednje veliki kmetiji
            <span><a href="https://www.facebook.com/na.lanisah?ref=profile">Na lanišeh</a></span> pod
            Ermanovcem na nadmorski višini 920 metov. Oče je doma na kmetiji  mami pa je zaposlena v podjetju
            <span><a href="http://www.termopol.si/tps/">Termopol d.o.o</a></span>.
        </p>

            </div>

        </div>
{%endblock vsebina%}

{%block about_sp%}active{%endblock about_sp%}

