<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Janko Pirih">
    <meta name="description" content="My home page test GAE, webapp2, Jinja2, bootstrap, html, css, first web app ">
    <meta name="keywords" content="test GAE, webapp2, Jinja2, bootstrap, html, css, first web ap">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- moj css spremembe bootstrap-a -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/about.css">
    <!-- Browser tab title -->
    <title>O meni</title>
</head>
<body>
<!-- navigacija zgoraj  -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fulid">
            <span class="navbar-brand">O meni</span>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbarHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navbarHeader">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Domov</a></li>
                    <li class="active"><a href="/about">O meni</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/activities">Aktivnosti</a></li>
                    <li><a href="/projects">Projekti</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Naslov -->
         <div class="jumbotron">
            <div class="sredinsko">
                <h1>O meni</h1>
                <p>
                    Zelo na kratko o meni, Za vse podrobnosti me kar vprašajte :)
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <h2 class="sredinsko">Janko Pirih</h2>
            <div class="sredinsko">
                <img src="/assets/img/janko.jpg" alt="mojaSlika"/></a>
            </div>
                <br>
            <!-- TAbela osnovni podatki -->
            <div class=>
                <table class="podatkiTabela sredinsko">
                    <tr>
                        <th colspan="2">Osnovni Podatki</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td class="krepko">Izobrazba</td>
                            <td>diplomirani ekonomist (VS) - brez prakse</td>
                        </tr>
                        <tr>
                            <td class="krepko">Domači Kraj</td>
                            <td>Podlanišče</td>
                        </tr>
                        <tr>
                            <td class="krepko">Občina</td>
                            <td>Cerkno</td>
                        </tr>
                        <tr>
                            <td class="krepko">Upravna enota</td>
                            <td>Idrija</td>
                        </tr>
                        <tr>
                            <td class="krepko">Rojen</td>
                            <td>20.8.1988</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- O meni -->

           <h3>O Meni</h3>
        <p>
            Torej nekaj zelo na kratko o meni, samo zato da tisi podatki v tabeli pod sliko dobijo nekaj smisla.
            Sem Janko Pirih po izobrazbi sicer diplomiran ekonomist vendar ekonoije prav nič ne pogrešam. Sam zase rad rečem:
            <span class="italic">"Jest sn an čest  nawadn dilat pa tihu bit wajen pub :)."</span>   Iz tega sledi za vse, ki niste razumenli navedenega,
            da primem za vsako delo, ki ga je potrebno opraviti, rad imam kratka in jasna navodila. Rad ima ljudi, ki govorijo malo
            pa še to kratko in jedrnato brez nepotrebnih olepšav in dolovezenja.
        </p>
        <p>
            Drugače pa bolj na klasičen način Rodil sem se 20. avgusta 1988 v porodnišnici Kranj očetu Janezu in Mami Olgi. Imam tri
            mlajše sestre od kateri sta dve že poročeni. Skupaj živimo na srednje veliki kmetiji
            <span><a href="https://www.facebook.com/na.lanisah?ref=profile">Na lanišeh</a></span> pod
            Ermanovcem na nadmorski višini 920 metov. Oče je doma na kmetiji  mami pa je zaposlena v podjetju
            <span><a href="http://www.termopol.si/tps/">Termopol d.o.o</a></span>.
        </p>

            </div>

        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fulid">
            <span class="navbar-brand">Janko Pirih November 2015</span>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbarHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navbarHeader">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Domov</a></li>
                    <li class="active"><a href="/about">O meni</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/activities">Aktivnosti</a></li>
                    <li><a href="/projects">Projekti</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>