{%extends "base.html"%}

{%block head%}<link rel="stylesheet" href="/assets/css/activities.css">{%endblock head%}

{%block title%}Aktivnosti{% endblock title %}

{%block title_stran%}Aktivnosti{%endblock title_stran%}
{%block aktivnost%}active{%endblock aktivnost%}

{%block naslov%}Aktivnosti{%endblock naslov%}
{%block opis%} V glavnem ni mi dolgčas :){%endblock opis%}

{%block vsebina%}
   <div class="row">
            <div class="col-sm-3">
                <h4>Delovne izkušnje</h4>
                <ol>
                    <li>Eta Cerkno</li>
                    <li>EF UL demonstrator</li>
                    <li>Termopol Sovoedenj</li>
                </ol>
            </div>
            <div class="col-sm-3">
                <h4>Domače aktivnosti</h4>
            <ul>
                <li>Pomoč pri  zunannjih opravili odvisno do dela  - trenutno lubadar (sept/okt 2015)</li>
                <li>Razna gosopodinjska opravila - podporne aktivnosti</li>
                <li>Delo v hlevu - (glejštajne)</li>
                <li>Predelava mleka izdelava mlečnih izdelkov (poltrdi sir, skuta, jogurt, mladi sir)</li>
                <li>Razno ostalo</li>
            </ul>
            </div>
            <div class="col-sm-3">
                <h4>Izobraževanje</h4>
                <ul>
                    <li> Predelava mleka - BC Naklo</li>
                    <li>Računalniištvo(programiranje, operacijski sistemi, baze podatkov...)</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Dodatno</h4>
                <ul>
                    <li>Prostovoljno delo - mladinske skupine</li>
                    <li>Sosedska pomoč - Žernade</li>
                </ul>
            </div>
        </div>
{%endblock vsebina%}

{%block aktivnost_sp%}active{%endblock aktivnost_sp%}
