<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Janko Pirih">
    <meta name="description" content="My home page test GAE, webapp2, Jinja2, bootstrap, html, css, first web app ">
    <meta name="keywords" content="test GAE, webapp2, Jinja2, bootstrap, html, css, first web ap">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- moj css spremembe bootstrap-a -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/blog.css">

    <title>Blog</title>
</head>
<body>
    <!-- navigacija zgoraj  -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fulid">
            <span class="navbar-brand">Blog</span>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbarHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navbarHeader">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Domov</a></li>
                    <li><a href="/about">O meni</a></li>
                    <li class="active"><a href="/blog">Blog</a></li>
                    <li><a href="/activities">Aktivnosti</a></li>
                    <li><a href="/projects">Projekti</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Naslov -->
         <div class="jumbotron">
            <div class="sredinsko">
                <h1>Blog</h1>
                <p>
                    Na tem blogu bom pisal samo lepe stvari
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="page-title">Sobotni izlet na porezen <small>Objavljeno 20.10.2015</small></h3>

                        <p>
                            Včeraj je za svoj redni sobotni izlet moj oče izbral Porezen. Najprej se je peljal skoz
                            Škofjo Loko , po selški dolini skozivasi Selca, Železniki , in pred vasjo Zali Log je
                            zavil levo v dolino Davče.
                        </p>
                         <p>
                             Iz Davče, kjer je pustil avto, je šel peš do kranjskega hrbta in po cesti do Koče na Poreznu, ki je pravzaprav predelana stara
                             vojaška karavla iz prve svetovne vojne, na šilce.
                         </p>
                         <p>
                           Na vrhu Porezna (1630 m) je lep razgled na okoliške hribe: Ratitovec, Črna prst, v dolini se vidita Cerkno in vas Zakojca, kjer je svoje
                           mladostne dni preživljal znani slovenski mladinski pisatelj, France Bevk .
                         </p>
                            <img src="/assets/img/porezen.jpg" alt="porezen_slika" class="img img-responsive sredinsko">
                         <p>
                            Nadaljeval je čez sedlo Velbenik, po cesti mimo Cimprovke, naprej mimo davških slapov in se vrnil izhodišče, kjer je pustil avto.
                         </p>
                         <p>
                              Vmes si je v pastirski koči privoščil še kislo mleko. Da le ni pastirici notri padla muha :-).
                         </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group active">
                    <a href="#" class="list-group-item ">
                        <h4>Sobotni izlet na Porezen</h4>
                        <p>
                           Včeraj je za svoj redni sobotni izlet moj oče izbral Porezen. Najprej se je peljal skoz
                            Škofjo Loko , po selški dolini skozivasi Selca, Železniki , in pred vasjo Zali Log je
                            zavil levo v dolino Davče.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fulid">
            <span class="navbar-brand">Janko Pirih November 2015</span>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbarHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navbarHeader">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Domov</a></li>
                    <li><a href="/about">O meni</a></li>
                    <li class="active"><a href="/blog">Blog</a></li>
                    <li><a href="/activities">Aktivnosti</a></li>
                    <li><a href="/projects">Projekti</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>