{% extends "app_base.html" %}

{% block title %} Knjiga Gostov - Pregled {% endblock title %}


{% block naslov %} Pregled vseh sporočil v Knjigi Gostov  {% endblock naslov %}


{% block vsebina %}
   
    <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
            <tr>
                <th>Kreirano</th>
                <th>Sporočilo</th>
                <th>Avtor</th>
                <th>Možnosti</th>
            </tr>
            {% for sporocilo in seznam %}
            <tr>
                <td>{{sporocilo.nastanek}}</td>
                <td>{{sporocilo.sporocilo}}</td>
                <td>{{sporocilo.ime}}</td>
                <td><a href="/projects/guest-book/sporocilo/{{sporocilo.key.id()}}" class="btn btn-primary">Podrobnosti</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-4"></div>
{% endblock vsebina %}