{%extends "base.html" %}
{%block title%}Projekti{%endblock title%}
{%block title_stran%}Projekti{%endblock title_stran%}
{%block projekti%}active{%endblock projekti%}

{%block naslov%}Projekti{%endblock naslov%}
{%block opis%}Na tej strani bodo povezave do vseh sorte stvari s katerimi se bolj ali manj ukvarjam :){%endblock opis%}

{%block vsebina%}
    <div class="row">
            <div class="col-sm-12">
                <h2 class="sredinsko">Dobrodošli! - spletna stran je v izdelavi</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-3">
                    <h3>Aplikacije</h3>
                    <ul class="nav nav-pills-stacked">
                      <li role="presentation" class="btn btn-success"><a href="/projects/kalkulator">Kalkulator</a></li>
                      <li role="presentation" class="btn btn-warning"><a href="/projects/pretvornik">Pretvornik Enot</a></li>
                      <li role="presentation" class="btn btn-primary"><a href="/projects/stevilo">Skirto Število</a></li>
                      <li role="presentation" class="btn btn-success"><a href="http://enhanced-victor-113610.appspot.com/">Loto</a></li>
                      <li role="presentation" class="btn btn-info"><a href="/projects/prestolnica">Ugani glavno mesto</a></li>
                      <li role="presentation" class="btn btn-danger"><a href="/projects/forenzik">Forenzik</a></li>  
                      <li role="presentation" class="btn btn-warning"><a href="/projects/guest-book">Knjiga Gostov</a></li>
                        <li role="presentation" class="btn btn-success"><a href="http://opomik-opravila.appspot.com/">Task Manager</a></li>
                        <li role="presentation" class="btn btn-info"><a href="/contact">Registracija prijava </a></li> - v nastajanju
                    </ul>
                    
                </div>
                <div class="col-sm-6">
                    
                </div>
                </div>
{%endblock vsebina%}

{%block projekti_sp%}active{%endblock projekti_sp%}

